
{% if obj|type == 'Function' %}
  {% include "function.jinja" %}
{% elif obj|type == 'Class' %}
  {% include "class.jinja" %}
{% elif obj|type == 'Data' %}
  {% include "data.jinja" %}
{% else %}
  Unsure how to handle `{{obj|type}}`
{% endif %}
