
{% if 'no-title' not in options %}
{{"#" * (level or header_level)}} Class `{{(user_fqn or obj|fqn) if absolute_fqn else obj.name}}`
{% endif %}

{% if not parent and module_after_header %}
__Module__: `{{obj.parent|fqn}}`
{% endif %}

{% if 'no-def' not in options %}
```python
{% for dec in obj.decorations or [] %}
@{{ dec.name }}{{ dec.args or '' }}
{% endfor -%}
class {{ obj.name }}: ...
```
{% endif %}

{{obj.docstring or ""}}

{% if 'no-attrs' not in options %}
{% for member in obj.members %}
  {% if member|type == 'Data' %}
    {{ render("data.jinja", obj=member, user_fqn=None, parent=obj, level=(level or header_level) + 1) }}
  {% endif %}
{% endfor %}
{% endif %}

{% if 'no-methods' not in options %}
{% for member in obj.members %}
  {% if member|type == 'Function' %}
    {{ render("function.jinja", obj=member, user_fqn=None, parent=obj, level=(level or header_level) + 1) }}
  {% endif %}
{% endfor %}
{% endif %}

{% if 'no-hr' not in options %}
---
{% endif %}
